@layer base, component;
@import "tailwindcss";

@theme inline {
  --color-background: #F5F0EA;
  --color-foreground: #322016;
  --color-pure-white: #FFFFFF;
  --color-linen: #F5F0EA;
  --color-antique-white: #F7E8D9;
  --color-pale-brown: #9B744A;
  --color-chocolate: #553725;
  --color-dark-chocolate: #322016;
  --font-sans: var(--font-jost);
  --font-serif: var(--font-cormorant-garamond);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}

select {
  background: transparent;
}
